.Tilt {
	background: #b3cdd1;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #b3cdd1, #9fa4c4);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #b3cdd1, #9fa4c4); /* W3C, IE 10+/ Edge, Firefox 16*/
}